
$bgColor900: #000000;
$bgColor100: #dddddd;
$bgColor50: #eff0f4;
$textColor900: #000000;
$textColor700: #555555;
$textColor600: #666666;
$textColor300: #bbbbbb;
$outerShadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
$outerShadow0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
$innerShadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;



/*------------
common style
--------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.content-center{
    align-items: center;
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-end{
    justify-content: flex-end;
}


.outer-shadow{
    box-shadow: $outerShadow;
}

.inner-shadow{
    box-shadow: $innerShadow;
}


.hover-in-shadow{
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover{
    box-shadow: $outerShadow0;
}

.hover-in-shadow::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease;

}

.hover-in-shadow:hover:after{
    box-shadow: $innerShadow;
}


.section-title{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;

    & h2{
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        position: relative;

        &.inview{
            animation: slide-in-from-bottom 2s;
        }

        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            background-color: #000000;
        }
    }
}

/*-----------
header
-------------*/

.header{
    padding: 20px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;




    & .humberger-btn{
        position: absolute;
        right: 40px;
        top: 15px;
        background-color: white;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        transition: all .2s ease;

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
        }

        & span{
            display: block;
            height: 2px;
            width: 16px;
            background-color: $bgColor900;
            position: relative;
            

            &::before{
                content: '';
                width: 100%;
                height: 100%;
                background-color: $bgColor900;
                position: absolute;
                top: 6px;
            }
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                background-color: $bgColor900;
                position: absolute;
                bottom: 6px;
            }
        }
    }
}

/*-----------
nav
-------------*/
.nav-menu{
    position: fixed;
    padding: 0 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: $bgColor50;
    overflow-y: auto;
    transform: translateY( 100%);
    transition: all .3s ease;

    & .close-menu{
        height: 40px;
        width: 40px;
        display: block;
        font-size: 35px;
        line-height: 41px;
        border-radius: 50%;
        position: absolute;
        right: 40px;
        top: 15px;
        cursor: pointer;
        text-align: center;

        &::after{
            border-radius: 50%;
        }
    }

    & .nav-menu-inner{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease;

        & ul{
            padding: 15px;

            & li{
                display: block;
                margin-bottom: 20px;
                text-align: center;

                & a{
                    display: inline-block;
                    font-size: 30px;
                    font-weight: 600;
                    color: $textColor700;
                    padding: 5px 30px;
                    border-radius: 30px;
                    transition: all .2s ease;
                    text-transform: capitalize;

                    &:hover{
                        color: teal;
                    }

                    &.active{
                        color: teal;
                    }

                    &::after{
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}

.open{
    transition: all .3s ease;

    &.nav-menu{
        transform: translateY(0);

    }


}

/*------------
home
-------------*/ 
.home-section{
    position: relative;



    &  .full-screen{
        padding: 50px 0;
        min-height: 100vh;

        & .home-text{

            color: black;

            & h1{
                font-weight: bolder;
                font-size: 25px;
            }
            & h2{
                font-size: 20px;
            }
        }
        
    }

    canvas{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

/*------------
about
--------------*/ 

.inview{
    &.about-title{
        animation: slide-in-from-left 2s;
    }
    &.about-info{
        animation: slide-in-from-right 2s;
    }
}

.about-section{
    padding: 100px 0;
    min-height: 100vh;

    & .about-content{
        margin-bottom: 80px;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;

        & .about-title{
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
            justify-content: center;
            align-items: center;
            display: flex;
            font-size: 30px;
        }
        
        & .about-info{
            flex: 0 0 50%;
            max-width: 50%;
        }

    }

}



@keyframes slide-in-from-left{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-from-right{
    0%{
        transform: translateX(50%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-from-bottom{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}




/*------------
works
--------------*/ 
.work-section{
    min-height: 80vh;

    .work-items{
        display: flex;
        flex-wrap: wrap;
    
        .work-item{
            width: 30%;
            margin: 19px;

            & span{
                width: 50px;
                border-radius: 40%;
                padding: 0 5px;
            }
        }
    }

}




/*-----------------
footer
------------------*/ 

.footer{
    min-height: 30vh;
    // padding-top: 100px;

    & .footer-items{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        & a{
            color: black;
        }
        & i{
            font-size: 50px;
            margin: 60px;
        }
    }
}


/*-----------------
responsive
------------------*/

@media(max-width: 767px) {
    .skill-section .skills .skill-item,
    .about-section .about-content .about-title,
    .about-section .about-content .about-info{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header .humberger-btn,
    .nav-menu .close-menu{
        right: 5%;
    }

    .about-section .about-content{
        display: block;
    }

    .about-section .about-content .about-info {
        padding: 20px;
    }

    .work-section .work-items{
        flex-direction: column;
        align-items: center;
    }

    .work-section .work-items .work-item{
        width: 65%;
    }

    .footer .footer-items i{
        margin: 20px;
    }
}